# Pandas Problem Set

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statistics

In [18]:
url = "https://raw.githubusercontent.com/BeaverWorksMedlytics2020/Data_Public/master/NotebookExampleData/Week1/diabetes.csv"
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']

Read in csv above to a pandas dataframe

In [23]:
# your code here
data = pd.read_csv(url,names=names)
data.head()

   preg  plas  pres  skin  test  mass   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
1     1    85    66    29     0  26.6  0.351   31      0
2     8   183    64     0     0  23.3  0.672   32      1
3     1    89    66    23    94  28.1  0.167   21      0
4     0   137    40    35   168  43.1  2.288   33      1

Print out the age and class of the 100th patient

In [17]:
# your code here
data.loc[99,'age':'class']

age      31.0
class     1.0
Name: 99, dtype: float64

Write code to figure out how many people are classified as not having diabetes, class is 0

In [29]:
# your code here
data_class_boolean = data['class'] < 1.0
filtered_dataframe_by_class = data[data_class_boolean]
filtered_dataframe_by_class

     preg  plas  pres  skin  test  mass   pedi  age  class
1       1    85    66    29     0  26.6  0.351   31      0
3       1    89    66    23    94  28.1  0.167   21      0
5       5   116    74     0     0  25.6  0.201   30      0
7      10   115     0     0     0  35.3  0.134   29      0
10      4   110    92     0     0  37.6  0.191   30      0
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
762     9    89    62     0     0  22.5  0.142   33      0
763    10   101    76    48   180  32.9  0.171   63      0
764     2   122    70    27     0  36.8  0.340   27      0
765     5   121    72    23   112  26.2  0.245   30      0
767     1    93    70    31     0  30.4  0.315   23      0

[500 rows x 9 columns]

Write code to figure out how many people are classified as having diabetes, class is 1

In [30]:
# your code here
data_class_boolean = (data['class'] == 1.0)
filtered_dataframe_by_class = data[data_class_boolean]
filtered_dataframe_by_class

     preg  plas  pres  skin  test  mass   pedi  age  class
0       6   148    72    35     0  33.6  0.627   50      1
2       8   183    64     0     0  23.3  0.672   32      1
4       0   137    40    35   168  43.1  2.288   33      1
6       3    78    50    32    88  31.0  0.248   26      1
8       2   197    70    45   543  30.5  0.158   53      1
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
755     1   128    88    39   110  36.5  1.057   37      1
757     0   123    72     0     0  36.3  0.258   52      1
759     6   190    92     0     0  35.5  0.278   66      1
761     9   170    74    31     0  44.0  0.403   43      1
766     1   126    60     0     0  30.1  0.349   47      1

[268 rows x 9 columns]

What percent of people have diabetes in the study

In [31]:
# your code here
print((268.0/700)*100)

38.285714285714285

Print out the pressure and class (no other columns) for the first 5 people (hint: this was not shown in our tutorial google how to select multiple columns with loc)

Being able to effectively google is a very important coding tool ¯\\\_(ツ)_/¯

In [40]:
# your code here
data.loc[0:4,['pres','class']]

   pres  class
0    72      1
1    66      0
2    64      1
3    66      0
4    40      1

Run the cell below, it will print out the correlation among the columns

In [41]:
data.corr()

           preg      plas      pres  ...      pedi       age     class
preg   1.000000  0.129459  0.141282  ... -0.033523  0.544341  0.221898
plas   0.129459  1.000000  0.152590  ...  0.137337  0.263514  0.466581
pres   0.141282  0.152590  1.000000  ...  0.041265  0.239528  0.065068
skin  -0.081672  0.057328  0.207371  ...  0.183928 -0.113970  0.074752
test  -0.073535  0.331357  0.088933  ...  0.185071 -0.042163  0.130548
mass   0.017683  0.221071  0.281805  ...  0.140647  0.036242  0.292695
pedi  -0.033523  0.137337  0.041265  ...  1.000000  0.033561  0.173844
age    0.544341  0.263514  0.239528  ...  0.033561  1.000000  0.238356
class  0.221898  0.466581  0.065068  ...  0.173844  0.238356  1.000000

[9 rows x 9 columns]

What column has the highest correlation with class? Find the mean() value of that column

In [42]:
# your code here
data['plas'].mean()

120.89453125

Create a new dataframe with only people that are above the mean found above

In [43]:
# your code here
data_plas_boolean=data.plas>data.plas.mean()
filtered_dataframe_by_boolean=data[data_plas_boolean]
filtered_dataframe_by_boolean.head()

   preg  plas  pres  skin  test  mass   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
2     8   183    64     0     0  23.3  0.672   32      1
4     0   137    40    35   168  43.1  2.288   33      1
8     2   197    70    45   543  30.5  0.158   53      1
9     8   125    96     0     0   0.0  0.232   54      1

Create a new dataframe that only includes people who are above the average value for each column in the dataset (except 'class'). In other words, find the average value for each column, and then find which users have values above all of these average column values

In [64]:
# write code here
dataframe_of_avgs=data.mean(axis=0)
print(dataframe_of_avgs)
data_preg_boolean=data.preg>dataframe_of_avgs['preg']
data_plas_boolean=data.plas>dataframe_of_avgs['plas']
data_pres_boolean=data.pres>dataframe_of_avgs['pres']
data_skin_boolean=data.skin>dataframe_of_avgs['skin']
data_test_boolean=data.test>dataframe_of_avgs['test']
data_mass_boolean=data.mass>dataframe_of_avgs['mass']
data_pedi_boolean=data.pedi>dataframe_of_avgs['pedi']
data_age_boolean=data.age>dataframe_of_avgs['age']
filtered=data[data_preg_boolean & data_plas_boolean & data_pres_boolean & data_skin_boolean&data_test_boolean&data_mass_boolean&data_pedi_boolean&data_age_boolean]
filtered.head()

preg       3.845052
plas     120.894531
pres      69.105469
skin      20.536458
test      79.799479
mass      31.992578
pedi       0.471876
age       33.240885
class      0.348958
dtype: float64

     preg  plas  pres  skin  test  mass   pedi  age  class
43      9   171   110    24   240  45.4  0.721   54      1
152     9   156    86    28   155  34.3  1.189   42      1
159    17   163    72    41   114  40.9  0.817   47      1
175     8   179    72    42   130  32.7  0.719   36      1
206     8   196    76    29   280  37.5  0.605   57      1

Ignoring the index (resetting the index to 0), sort the values based on "skin", "test", and "pedi" values in ascending order. Please write this in one line.

In [68]:
# write code here 
sample = data.sort_values(by=['skin','test','pedi'],ascending=True, na_position='first').reset_index(drop=True)
sample

     preg  plas  pres  skin  test  mass   pedi  age  class
0       0   102    52     0     0  25.1  0.078   21      0
1       6    87    80     0     0  23.2  0.084   32      0
2       1   173    74     0     0  36.8  0.088   38      1
3       2    74     0     0     0   0.0  0.102   22      0
4       2    99     0     0     0  22.2  0.108   23      0
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
763     0   147    85    54     0  42.8  0.375   24      0
764     0   162    76    56   100  53.2  0.759   25      1
765     0   100    88    60   110  46.8  0.962   31      0
766     0   180    78    63    14  59.4  2.420   25      1
767     2   197    70    99     0  34.7  0.575   62      1

[768 rows x 9 columns]

Notice that there are some repeats in values (like in the age and the preg column).

Now Let's find the 4 largest values for "age" and "mass". Reference the pandas documentation (https://pandas.pydata.org/docs/) if you are stuck!

In [74]:
# write code here
largest_age=data.nlargest(4,'age')
print(largest_age)
largest_mass=data.nlargest(4,'mass')
print(largest_mass)

     preg  plas  pres  skin  test  mass   pedi  age  class
459     9   134    74    33    60  25.9  0.460   81      0
453     2   119     0     0     0  19.6  0.832   72      0
666     4   145    82    18     0  32.5  0.235   70      1
123     5   132    80     0     0  26.8  0.186   69      0
     preg  plas  pres  skin  test  mass   pedi  age  class
177     0   129   110    46   130  67.1  0.319   26      1
445     0   180    78    63    14  59.4  2.420   25      1
673     3   123   100    35   240  57.3  0.880   22      0
125     1    88    30    42    99  55.0  0.496   26      1

Now find the smallest 4 values for "plas" and "preg" in reverse order (largest to smallest). Please refer to the API documentation if you are stuck-- https://pandas.pydata.org/pandas-docs/stable/reference/index.html

In [77]:
#write code here
smallest_plas=data.nsmallest(4,['plas','preg']).sort_values(by='plas',ascending=False)
print(smallest_plas)

     preg  plas  pres  skin  test  mass   pedi  age  class
75      1     0    48    20     0  24.7  0.140   22      0
182     1     0    74    20    23  27.7  0.299   21      0
342     1     0    68    35     0  32.0  0.389   22      0
349     5     0    80    32     0  41.0  0.346   37      1